<div class="layout-wrapper layout-light">
  <div class="layout-content">

  <img src="https://cdn-icons-png.flaticon.com/512/3342/3342178.png" class="w-6rem"/>
  <h1>ngx-image-cropper v8</h1>
  <h2 class="doc-section-label">with <span class="text-primary">PrimeNG v17.18.8</span> and <span class="text-red-500">Angular v18</span></h2>
  <hr class="my-5"/>
  <p-fileUpload #fileUpload name="file" accept="image/*" [maxFileSize]="1000000" (onSelect)="fileChangeEvent($event)"
      [customUpload]="true" mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload"
      styleClass="p-button-sm border-noround-right float-left">
  </p-fileUpload>
  <div class="float-left w-auto p-inputgroup p-inputgroup-sm" style="height: 30px;">
      <div class="p-inputgroup">
          <div class="p-element p-inputgroup-addon border-noround-left" pTooltip="Ideal Size: 500x500, Extensions Allowed: .jpg, .png, .jpeg" tooltipPosition="left" placeholder="Left"><i class="pi pi-info-circle"></i></div>
      </div>
  </div>
  <div class="clear"></div>

  <!-- https://github.com/Mawi137/ngx-image-cropper -->
  <!-- https://stackblitz.com/edit/image-cropper?file=src%2Fapp.component.ts,src%2Fapp.component.html -->

  <p-dialog [(visible)]="displayCropper" [modal]="true" [style]="{width: '480px'}" [closable]="false" [resizable]="false"
  [breakpoints]="{ '575px': '97vw' }" styleClass="info"><!-- (onHide)="handleDialogClose()" -->
  
      <ng-template pTemplate="header">
          <div class="flex justify-content-between gap-2 w-full">
              <div class="inline-flex align-items-center justify-content-center gap-2">
                  <i class="p-dialog-titlebar-icon text-2xl pi pi-upload"></i>
                  <span class="p-dialog-title">
                      Upload Image
                  </span>
              </div>
              <p-button severity="help" icon="pi pi-times" [rounded]="true" (click)="closeAndReset()"></p-button>
          </div>
      </ng-template>
  
      <div class="flex flex-wrap gap-3 justify-content-center mb-2">
          <button pButton icon="pi pi-replay" class="p-button-sm" (click)="rotateLeft()" pTooltip="Rotate Left" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-refresh" class="p-button-sm" (click)="rotateRight()" pTooltip="Rotate Right" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-arrows-h" class="p-button-sm" (click)="flipHorizontal()" pTooltip="Flip Horizontal" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-arrows-v" class="p-button-sm" (click)="flipVertical()" pTooltip="Flip Vertical" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-arrows-alt fa-rotate-45" class="p-button-sm" (click)="toggleContainWithinAspectRatio()" pTooltip="{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}" tooltipPosition="top" placeholder="top"></button>
      </div>
      <image-cropper [imageChangedEvent]="imageChangedEvent" [imageURL]="imageURL" [maintainAspectRatio]="true"
          [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="aspectRatio"
          [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation" [(transform)]="transform"
          [alignImage]="'center'" [style.display]="showCropper ? null : 'none'" [allowMoveImage]="allowMoveImage"
          imageAltText="Alternative image text" output="base64" format="png"
          (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
          [resizeToWidth]="500" [cropperMinWidth]="250" [containWithinAspectRatio]="true"
          (loadImageFailed)="loadImageFailed()" (wheel)="onMouseWheel($event)" class="cropper-bg"></image-cropper>
  
      <div *ngIf="loading" class="loader absolute top-0 left-0 z-1 bg-black-alpha-50 w-full h-full flex align-items-center justify-content-center border-round-xl"><i class="pi pi-spin pi-spinner text-white" style="font-size: 2rem"></i></div>
      <p-slider [(ngModel)]="sliderValue" (onChange)="zoomChanged()" [min]="0" [max]="3" [step]="0.1" styleClass="mt-3 mb-4"></p-slider>

      <div class="flex flex-wrap gap-3 justify-content-center">
          <button pButton class="p-button-sm" (click)="toggleAspectRatio()">Aspect ratio: {{aspectRatio === 4/3 ? '4/3' :
              '16/5'}}</button>
          <button pButton icon="pi pi-angle-left" class="p-button-sm" (click)="moveLeft()" pTooltip="Move Left" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-angle-right" class="p-button-sm" (click)="moveRight()" pTooltip="Move Right" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-angle-up" class="p-button-sm" (click)="moveTop()" pTooltip="Move Top" tooltipPosition="top" placeholder="top"></button>
          <button pButton icon="pi pi-angle-down" class="p-button-sm" (click)="moveBottom()" pTooltip="Move Bottom" tooltipPosition="top" placeholder="top"></button>
          <button pButton class="p-button-sm" (click)="allowMoveImage = !allowMoveImage;">{{allowMoveImage ? 'Disable' : 'Enable' }} image panning</button>
      </div>
      <hr class="my-3"/>

      <div class="flex justify-content-between gap-2">
          <button pButton label="Crop" icon="pi pi-check" class="p-button-sm" (click)="cropImage()"></button>
          <button pButton icon="pi pi-sync" label="Reset image" class="p-button-sm p-button-gray" (click)="resetImage()"></button>
      </div>
  </p-dialog>
  <div class="flex flex-wrap justify-content-start align-content-center align-items-center gap-2">
      <img [src]="croppedImage" [style.display]="croppedImage ? 'block' : 'none'" alt="Cropped Image" class="mt-2 w-8rem h-8rem flex-shrink-0 border-round-md surface-900 shadow-3" style="object-fit: contain;"/>
      <button *ngIf="showSaveButton" pButton type="button" icon="pi pi-pencil" (click)="editImage()" class="mt-2 p-button-sm p-button-warning" pTooltip="Edit Image" tooltipPosition="top" placeholder="top"></button>
      <button *ngIf="showCancelButton" pButton type="button" icon="pi pi-times" (click)="closeAndReset()" class="mt-2 p-button-sm p-button-bluegray" pTooltip="Cancel Image" tooltipPosition="top" placeholder="top"></button>
  </div>
  <small class="text-orange-600">Recommended Size (WxH): 500 x 500. Uploaded image will be resized to this dimension if they are bigger than recommended
  size.</small>
  <div class="hidden text-red-700 text-sm">Please enter a valid.</div><!-- "error div" remove "hidden" class to show and this -->

  </div>
</div>